html { -webkit-text-size-adjust: none; color: #333; height: 100%;}
body{ overflow: hidden; height: 100%; background: #f4f8fb; background: url(../images/common/bg.jpg); }
html, body, input,p,h1,h2,h3,h4,h5,h6 { font-family: "微软雅黑","宋体","Helvetica Neue",Helvetica,Arial,sans-serif,
"Arial Narrow",HELVETICA; 
font-weight: normal;}
html, body, div, form, span, input, button, label, dl, dt, dd, ul, li, ol, p, h1, h2, h3, h4, h5, h6,table,tr,td,p
 { margin:0px; padding:0px;  box-sizing:border-box;}
.container { margin: 0 auto; max-width: 640px;min-height: 100%; background-color: #fdf7e5; min-height: 100%;}
ul, li, ol { list-style: none;}
em, i, address { font-style: normal;}
.clearfix { zoom: 1; display: block}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
img { border: none; vertical-align: middle; max-width: 100%;}
.fl { float: left; display: inline;} 
.fr{ float: right !important; display: inline;}
table { border-collapse:collapse; }
.font14 { font-size: 12px !important; }
input,select { font-size: 12px; }
.blue { background: #2cafe5 !important; }
.red { background: #eb1634 !important; }
.violet { background: #822ce5 !important; }
.orange { background: #e5832c !important; }
.pink { background: #e52c72 !important; }
.he400 { height: 400px !important; }
/*文字和链接*/
* { outline: 0; }
a:-webkit-any-link { text-decoration: xnone; cursor: pointer; -webkit-tap-highlight-color:rgba(0,0,0,0);}
a { color:#333; text-decoration:none; outline:none; cursor: pointer; border:none}/*默认*/
.circles-text { display: none !important; }