.ftips-name {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: rgb(196, 142, 80)
}

.ftips-value {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  color: rgb(67, 109, 224)
}
