<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <META HTTP-EQUIV="pragma" CONTENT="no-cache">
  <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
  <META HTTP-EQUIV="expires" CONTENT="0">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
  />
  <title>KunGraph Studio</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon" />
<!--  <link href="../../public/jsplumb/jsPlumbToolkit-defaults.css" rel="stylesheet" type="text/css" />
  <link href="../../public/vis.min.css" rel="stylesheet" type="text/css" />
  <link href="../../node_modules/vis/dist/vis.min.css" rel="stylesheet" type="text/css" />-->
  <!--<link href="../../node_modules/vis/dist/vis-network.min.css" rel="stylesheet" type="text/css" />-->
  <!--<script type="text/javascript" src="../../public/jsplumb/jsplumbtoolkit-min.js"></script>-->
  <!--<script type="text/javascript" src="../../public/jsplumb/jsplumbtoolkit-undo-redo.js.js"></script>-->
</head>
<body>
<noscript>Sorry, we need js to run correctly!</noscript>
<div id="root"></div>
</body>
</html>
